@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Audiowide", monospace;
    font-size: 1.8rem;
}

body {
    min-height: 100vh;
    background-color: #000;
    color: whitesmoke;
    display: grid;
    place-content: center;
    padding: 1rem;
}

img {
    height: 7rem;
    width: 7rem;
    justify-self: center;
}

span {
    color: #909090;
}
